<div class="container" style="padding: 0px;">
  <div class="text-center profile-card" style="margin:15px;background-color:#ffffff;">
      <div style="height: 240px;"><img class="rounded-circle" style="margin: 0px;margin-top: 0px;" src="assets/img/avatar-dhg.png" height="150px">
          <h3 style="padding: 10px;">{{ candidato.nombre + " " + candidato.apellidos }}</h3>
          <p style="padding: 0;padding-bottom: 0;padding-top: 0;padding-right: 0;padding-left: 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus felis et libero scelerisque.</p>
      </div>
      <div class="row" style="padding:0;padding-bottom:10px;padding-top:20px;">
          <div class="col-sm-12 col-md-5 col-lg-2 col-xl-4" style="padding-right: 0px;">
              <div class="card" style="margin-bottom: 20px;">
                  <div class="card-body">
                      <h4 class="card-title">Presentación</h4>
                      <h6 class="text-muted card-subtitle mb-2">{{ candidato.titulo }}</h6>
                      <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">GitHub</a><a class="card-link"
                          href="#">Portafolio</a><a class="card-link" href="#">Resumé</a></div>
              </div>
              <div class="card" style="margin-bottom: 20px;">
                  <div class="card-body">
                      <h4 class="card-title">Habilidades</h4>
                      <ul class="list-group text-center">
                          <li class="list-group-item"><span>Java EE 8</span></li>
                          <li class="list-group-item"><span>MySQL 5.7</span></li>
                          <li class="list-group-item"><span>Spring Boot 2</span></li>
                          <li class="list-group-item"><span>Microservicios</span></li>
                      </ul>
                  </div>
              </div>
              <div class="card" style="margin-bottom: 20px;">
                  <div class="card-body">
                      <h4 class="card-title">Mis postulaciones</h4>
                      <ul class="list-group">
                          <li class="list-group-item text-left"><span>Desarrollador Java Sr&nbsp;<br>Lorem Ipsum Co.<br></span></li>
                          <li class="list-group-item text-left"><span>Desarrollador Spring Sr<br>Lorem Ipsum Co.<br></span></li>
                          <li class="list-group-item text-left"><span>Android Mobile Developer<br>Lorem Ipsum Co.<br></span></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-7 col-lg-9 col-xl-8">
              <div class="card" style="margin-bottom: 20px;">
                  <div class="card-body">
                      <h4 class="text-left card-title">Experiencia laboral</h4>
                      <div>
                          <h6 class="text-left text-muted mb-2">Desarrollador Web Sr - Empresa ABC (ene 2019 - dic 2020)</h6>
                          <p class="text-left">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                      </div>
                      <hr>
                      <div>
                          <h6 class="text-left text-muted mb-2">Desarrollador Web Jr - Empresa ABC (enero 2019 - diciembre 2020)</h6>
                          <p class="text-left">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                      </div>
                      <hr>
                      <div>
                          <h6 class="text-left text-muted mb-2">Trainee de IT - Empresa ABC (enero 2019 - diciembre 2020)</h6>
                          <p class="text-left">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                      </div>
                  </div>
              </div>
              <div class="card" style="margin-bottom: 20px;">
                  <div class="card-body">
                      <h4 class="text-left card-title">Formación académica</h4>
                      <div>
                          <h6 class="text-left text-muted mb-2">Universidad Tecnológica de Querétaro (2016 - 2020)</h6>
                          <p class="text-left">Ingeniería en Tecnologias de la Información y Comunicación</p>
                      </div>
                  </div>
              </div>
              <div class="card" style="margin-bottom: 20px;">
                  <div class="card-body">
                      <h4 class="text-left card-title">Cursos y/o certificaciones</h4>
                      <div>
                          <h6 class="text-left text-muted mb-2">Oracle Certified Professional Java SE 8 Programmer (OCPJP) (2020)</h6>
                          <p class="text-left">Tech Company - Oracle Training Center</p>
                      </div>
                      <div>
                          <h6 class="text-left text-muted mb-2">Cambridge Certificate of Proficiency in English (C2) (2020)</h6>
                          <p class="text-left">Online Cambridge Representative</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>