<div style="background-color: #f2f5f8;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xl-12 offset-xl-0 text-center" style="padding: 40px;">
                <label for="busqueda" style="margin-right: 20px;">
                    Criterios de búsqueda&nbsp;</label>
                <input class="form-control-sm" type="text" name="busqueda" value="desarrollador web"
                    style="width: 320px;">
                <button class="btn btn-primary" type="button" style="margin-left: 15px;">Buscar</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xl-4">
                <h4 style="margin-bottom: 15px;">Filtros</h4>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Quéretaro</span>
                            <i class="fa fa-remove" style="font-size: 18px;"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Últimos 3 días</span>
                            <i class="fa fa-remove" style="font-size: 18px;"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Tecnologias de la Informacion</span>
                            <i class="fa fa-remove" style="font-size: 18px;"></i>
                        </li>
                    </ul>
                    <div>
                        <estados></estados>
                        <categorias></categorias>
                        <h4 style="margin-top: 15px;margin-bottom: 15px;">Fecha de publicación</h4>
                        <ul class="list-group">
                            <li class="list-group-item"><span>Últimos 3 días</span></li>
                            <li class="list-group-item"><span>Últimos 7 días</span></li>
                            <li class="list-group-item"><span>Últimos 30 días</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xl-8">
                <h4>Resultados de búsqueda</h4>
                <div class="card" *ngFor="let v of vacantes" style="margin-bottom: 24px;">
                    <div class="card-body" style="margin-bottom: 0;">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Oferta laboral 1 
                            <span>{{ v.salario | currency }} {{ v.periodoSalario | lowercase }}</span>
                        </h5>
                        <h6 class="text-muted card-subtitle mb-2">{{ v.publicanteId.nombre }} -
                            {{ v.municipioId.estadoId.nombre }}, {{ v.municipioId.nombre }}</h6>
                        <p class="card-text">
                            {{ v.descripcion }}
                        </p>
                        <a class="card-link" href="#" style="font-size: 14px;">
                            Fecha de publicación: {{ v.fechaPublicacion | date: 'dd MMM yyyy' }}
                        </a>
                    </div>
                </div>
                <pagination 
                    [pagination]="pagination" 
                    [page]="page" 
                    (onPageChange)="cambiarPagina($event)">
                </pagination>
            </div>
        </div>
    </div>
</div>